html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f6fc;
  color: #353535;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

article {
  width: 95%;
  margin: 0 auto;
  max-width: 920px;
  padding: 2rem 0;
}

h1 {
    font-size: 24px;
    line-height: 1.2;
}

h2 {
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

img.logo {
    max-width: 90px;
    pointer-events: none;
    user-select: none;
}